# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [3]:
url ='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

### Step 3. Assign it to a variable called crime.

In [111]:
crime = pd.read_csv(url, sep = ',')
crime = pd.DataFrame(crime)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [5]:
print(crime.columns.dtype)
print(crime.Year.dtype)

object
int64

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [20]:
data = pd.to_datetime(crime.Year)
data

0    1970-01-01 00:00:00.000001960
1    1970-01-01 00:00:00.000001961
2    1970-01-01 00:00:00.000001962
3    1970-01-01 00:00:00.000001963
4    1970-01-01 00:00:00.000001964
5    1970-01-01 00:00:00.000001965
6    1970-01-01 00:00:00.000001966
7    1970-01-01 00:00:00.000001967
8    1970-01-01 00:00:00.000001968
9    1970-01-01 00:00:00.000001969
10   1970-01-01 00:00:00.000001970
11   1970-01-01 00:00:00.000001971
12   1970-01-01 00:00:00.000001972
13   1970-01-01 00:00:00.000001973
14   1970-01-01 00:00:00.000001974
15   1970-01-01 00:00:00.000001975
16   1970-01-01 00:00:00.000001976
17   1970-01-01 00:00:00.000001977
18   1970-01-01 00:00:00.000001978
19   1970-01-01 00:00:00.000001979
20   1970-01-01 00:00:00.000001980
21   1970-01-01 00:00:00.000001981
22   1970-01-01 00:00:00.000001982
23   1970-01-01 00:00:00.000001983
24   1970-01-01 00:00:00.000001984
25   1970-01-01 00:00:00.000001985
26   1970-01-01 00:00:00.000001986
27   1970-01-01 00:00:00.000001987
28   1970-01-01 00:00:00.000001988
29   1970-01-01 00:00:00.000001989
30   1970-01-01 00:00:00.000001990
31   1970-01-01 00:00:00.000001991
32   1970-01-01 00:00:00.000001992
33   1970-01-01 00:00:00.000001993
34   1970-01-01 00:00:00.000001994
35   1970-01-01 00:00:00.000001995
36   1970-01-01 00:00:00.000001996
37   1970-01-01 00:00:00.000001997
38   1970-01-01 00:00:00.000001998
39   1970-01-01 00:00:00.000001999
40   1970-01-01 00:00:00.000002000
41   1970-01-01 00:00:00.000002001
42   1970-01-01 00:00:00.000002002
43   1970-01-01 00:00:00.000002003
44   1970-01-01 00:00:00.000002004
45   1970-01-01 00:00:00.000002005
46   1970-01-01 00:00:00.000002006
47   1970-01-01 00:00:00.000002007
48   1970-01-01 00:00:00.000002008
49   1970-01-01 00:00:00.000002009
50   1970-01-01 00:00:00.000002010
51   1970-01-01 00:00:00.000002011
52   1970-01-01 00:00:00.000002012
53   1970-01-01 00:00:00.000002013
54   1970-01-01 00:00:00.000002014
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [113]:
crime.set_index('Year').head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [119]:
crime.drop(columns='Year').head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [150]:
crime_decade = crime.set_index('Year')

i=0
n_c_d ={}
while i < len(crime_decade.index):
    
    dec = crime_decade.index[i]
    n_c_d[dec] = {'Population':None}
    ix = crime_decade.index[i]
    
    while (i < len(crime_decade.index)) and (dec % 100 // 10 == crime_decade.index[i] % 100 // 10) and (
        (dec%10 != crime_decade.index[i] % 10) or crime_decade.index[i] % 10 == 0):
        
        if (n_c_d[dec]['Population'] == None) or (n_c_d[dec]['Population'] <  crime_decade.Population[ix]):
            n_c_d[dec]['Population'] = crime_decade.Population[ix]
            
        for j in crime_decade.columns[1:]:
            if j not in n_c_d[dec].keys():
                n_c_d[dec][j] = 0
            n_c_d[dec][j] += crime_decade[j][ix]
        i += 1

In [176]:
crime_decade = pd.DataFrame(n_c_d)
crime_decade = crime_decade.T

,Aggravated_assault,Burglary,Forcible_Rape,Larceny_Theft,Murder,Population,Property,Robbery,Total,Vehicle_Theft,Violent
1960,1543200,9121000,171900,18554000,91100,179323175,30957000,1078400,33842000,3282000,2884600
1970,3349700,22050000,379900,42258000,160000,203235298,73592000,3498600,80980000,9284000,7388200
2010,3909220,10842285,427965,31023005,73860,309330219,45563125,1845445,51819365,3697825,6256240
1980,6726500,37952000,829900,71369000,230400,225349264,120637000,5658400,134083000,11317000,13445200
2000,9117060,20509920,901780,69715900,155860,281421906,101825860,4080160,116080720,11600020,14254860
1990,10548600,30739000,1025600,79457000,234400,248709873,126555000,6392700,144756000,16359000,18201300

### Step 9. What is the mos dangerous decade to live in the US?

In [177]:
ar = [str(i) for i in crime_decade.columns.values]
crime_decade.sort_values(ar)
#1990

,Aggravated_assault,Burglary,Forcible_Rape,Larceny_Theft,Murder,Population,Property,Robbery,Total,Vehicle_Theft,Violent
1960,1543200,9121000,171900,18554000,91100,179323175,30957000,1078400,33842000,3282000,2884600
1970,3349700,22050000,379900,42258000,160000,203235298,73592000,3498600,80980000,9284000,7388200
2010,3909220,10842285,427965,31023005,73860,309330219,45563125,1845445,51819365,3697825,6256240
1980,6726500,37952000,829900,71369000,230400,225349264,120637000,5658400,134083000,11317000,13445200
2000,9117060,20509920,901780,69715900,155860,281421906,101825860,4080160,116080720,11600020,14254860
1990,10548600,30739000,1025600,79457000,234400,248709873,126555000,6392700,144756000,16359000,18201300